@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


@font-face {
	/* Reference name */
	font-family: 'Abril Fatface';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/AbrilFatface-Regular.ttf');
	font-display: swap;
}


html,
body {
	@apply h-full overflow-hidden;
}
